@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#root {
  --color-red: #BB000E;
  --color-light-red: #E31C25;
  --color-white: #FFFFFF;
  --color-text-dark: #1C1C1C;
  --color-placeholder-dark: rgba(255, 255, 255, 0.6);
  --color-placeholder-light: rgba(44, 44, 44, 0.6);
  --input-color: #2C2C2C;
  --background-color: #222222;
  --dark-background-color: #161616;

  font-family: 'Roboto', sans-serif;
}